.zxs-psw-input{
  height:22px;
}
.zxs-content .zxs-div-eye{
  display: inline-block;
  width: 34px;
  height:26px;
  background-size: contain;
  background-image: url('./index2.png');
  background-repeat: no-repeat;
  position: relative;
  top:9px;
  right: 32px;
}
.zxs-div-eye:hover{
  background-image: url('./index.png');
}
